.table-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #e4e3ee;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(162, 154, 230, 0.1);
}

.title-header {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.add-button {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  float: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}


button[mat-icon-button] {
  margin: 0 4px;
}

